# Django base stuff
Django==5.0.1

# DRF
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-coreapi==2.3.0

# Django Tools
django-filter==23.5

# Environ
django-environ==0.11.2

# Databases
psycopg2==2.9.9

# Botstrap
django-bootstrap-v5==1.0.11
